/* IPHONE 5*/
@media screen and (min-width: 0px) and  (max-width:324px) {
	body{
		overflow-x: hidden;
	}
	#logo{
		margin-left:0;
	}
	.navbar{
		margin-top:-20px;
	}
	.navbar-collapse, .collapse{
		border:none !important;
		margin-top:10px;
	}
	.header{
		height: 568px;
		background-size: 300%;
	}
	.header-name>.row>.col-lg-6>h1{
		font-size: 27px;
		margin-bottom: 0px;
		width:240px;
		margin-left: 30px;
	}
	.header-name{
		margin-top:96px;
	}
	.header-name>.row>.col-lg-6>h5{
		font-size: 19px;
		width:240px;
		margin-top:20px;
		margin-left: 30px;
	}
	.header-iphone>img{
		max-height: 500px;
		margin-left:-150px;
		margin-top: 200px;
	}
} 
