body{
margin: 0;
font-size: 18px;
color: #023E8A;
font-family: 'HeliosCond Regular';
line-height: 1.5;
}

header{
  font-size: 50px;
  color: white;
  background-color: #eee;
  background-image: url(https://images.pexels.com/photos/1507552/pexels-photo-1507552.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260&dpr=2);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
}

.header-title {
  font-size: 120px;
  color: white;
  text-transform:none;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

h2 {
margin-top: 0px;
padding-bottom: 30px;
font-size: 25px;
text-align: center;
border-bottom: 2px solid #EAF4F4e3;
}

main {
width: 900px;
margin: auto;
}

section {
margin: 50px 0;
padding: 0 50px;
}

section h2{
padding: 0;
text-align: left;
border: none;
}

section ul li {
margin-bottom: 10px;
}

